/*IMPORTAÇÃO DE FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Almendra:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@300;400;600;700&display=swap');
/* Seletor universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Source Serif 4";
    line-height: 1.6;
    color: #333;
    background-color: #fef7e3;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header{
    background-color: #7d664c;
    color: white;
    padding: 0.2rem 0;
    position: sticky;
    font-family: 'Almendra', serif;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.5);
    width: 100%;
    background: linear-gradient(to bottom, #7d664c 100%, #5c4a36 100%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.nav{
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Almendra', serif; 
    margin-bottom: 0.5rem;         
}
nav{
    display: flex;
    gap: 2rem;
}

nav a {
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #d4a574; 
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

.hero{
    background: linear-gradient(rgba(44,24,26, 0.7), rgba(44,24,16, 0.3)), url("images/bannerHero.jpg");
    height: 700px;
    display: flex;
   justify-content: center; 
   align-items: center;
   color: white;  
   text-align: center;
   background-size: cover;
   background-position: center;
}

.hero-content h1{
    font-size: 3rem;
    margin-bottom: 2rem;
     font-family: 'Almendra', serif;
}

.hero-content p {
    font-size: 2.5rem;
     font-family: 'Almendra', serif;    
    margin-bottom: 2rem;
}

.btn-primary{
    background-color: #7d664c;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: scale 0.5s;
}

.btn-primary:hover{
    background-color: #28163c;
    /* border: 1px solid #d4af37;

    box-shadow:
        0 0 5px #d4af37,
        0 0 15px #d4af37,
        0 0 30px #d4af37; */
    scale: 0.9;
}

/* Seção de Poções */
.pocoes {
    padding: 4rem 0;
    background-color: #2c1d2d;
    color : white;
}

.itens{
    padding: 4rem 0;
    background-color: #2c1d2d;
    color : white;  
}

.section-title{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: white;
     font-family: 'Almendra', serif;
}
.cards{
    display: flex;
    gap: 2rem;
    justify-content: center;
    /* QUEBRA DE LINHA */
    flex-wrap: wrap;
}
.card{
    background-color: wheat;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    /*FLEX 0: elemento não se adapta*/
    /*FLEX 1: elemento se adapta*/
    flex: 1;
    min-width: 300px;
    max-width: 350px;
    transition: transform 0.3s;
}
.card:hover{
    /*DESCOLA O CARD VERTICALMENTE*/
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}
.card img{
    width: 351px;
    height: 210px;
     /*Cobre a div*/
    object-fit: cover;
}
.card-content{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.card-content h3{
    color: #1a102c;
    font-family: 'Almendra', serif;
    font-size: 1.5rem;
}
.card-content p{
    color: #1a102c9d;
    flex: 1;
    font-size: 1rem;
}
.price{
    font-family: 'Almendra', serif;
  font-size: 1.5rem;
  color:#a86e2c;
  font-weight: bold;
}
/* SEÇÃO SOBRE A EMPRESA */
.sobre{
    padding: 4rem 0;
    background-color: wheat;
}
.sobre-flex{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.sobre-imagem{
    flex: 1;
}
.sobre-imagem img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 1);
}
.sobre-texto{
    flex: 1;
    flex-direction: column;
    gap: 1rem;
}
.sobre-texto h2{
    font-family:"Almendra";
    font-size: 2.25rem;
    color:#1a102c;
}
.sobre-texto p{
    color: #1a102c9d;
    font-size: 1.1rem;
}
.beneficios{
    list-style: circle;
    margin-top: 1rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.beneficios li{
    color: #2c1810;
    font-size: 1.1rem;
}
/* FOOTER */
.footer{
    background-color: #2c1810;
    color: white;
    padding: 3rem 0 1rem;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    align-items: center;
}
.footer-section{
    flex: 1;
    min-width: 200px;
}
.footer-section h4{
    margin-bottom: 1rem;
    color: #d4a574;
}
.footer-bottom{
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid #4a3226;
}
.footer-icons a{
    color: #a86e2c;
}
.footer-icons a:hover{
    color:#dfba91;
}
/* CONFIGURANDO A RESPONSIVIDADE */
/* MEDIA QUERY: É um recurso do CSS para ajustar elementos conforme a largura da tela */
/* O BREAKPOINT PARA UM CELULAR É APROXIMADAMENTE 768px */
@media (max-width: 768px){
    .sobre-flex{
        flex-direction: column;
    }
    .footer-content{
        flex-direction: column;
        align-items: flex-start;
    }
    .logo{
        font-size: 1rem;
    }
    .menu{
        gap: 1rem;
    }
    .hero-content h1{
        font-size: 2rem;
    }
}