/* IMPORTAÇÃO DE FONTES */
@import url('https://fonts.googleapis.com/css2?family=Almendra:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@300;400;600;700&display=swap');

/* CONFIGURAÇÕES GERAIS */
/* Seletor universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Source Serif 4";
    line-height: 1.6;
    color: #333;
    background-color: #fef7e3;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* HEADER */
header{
    background-color: #7d664c;
    color: white;
    padding: 0.2rem 0;
    position: sticky;
    font-family: 'Almendra', serif;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.5);
    width: 100%;
    background: linear-gradient(to bottom, #7d664c 100%, #5c4a36 100%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.nav{
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Almendra', serif; 
    margin-bottom: 0.5rem;         
}
nav{
    display: flex;
    gap: 2.5rem;
}

nav a {
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #d4a574; 
    transition: width 0.3s ease;
}

nav a:hover{
    color: #e0d1be;
}

nav a:hover::after {
    width: 100%;
}

/* SEÇÃO HERO */
.hero{
    background: linear-gradient(rgba(44,24,26, 0.7), rgba(44,24,16, 0.3)), url("images/bannerHero.jpg");
    height: 700px;
    display: flex;
   justify-content: center; 
   align-items: center;
   color: white;  
   text-align: center;
   background-size: cover;
   background-position: center;
}

.hero-content h1{
    font-size: 3rem;
    margin-bottom: 2rem;
     font-family: 'Almendra', serif;
}

.hero-content p {
    font-size: 2.5rem;
     font-family: 'Almendra', serif;    
    margin-bottom: 2rem;
}

.btn-primary{
    background-color: #7d664c;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-family: 'Source Serif 4';
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: scale 0.5s;
}

.btn-primary:hover{
    background-color: #28163c;
    /*Brilho das bordas*/
    border: 1px solid #d1b930;
    box-shadow:
        0 0 5px #d1b930,
        0 0 15px #d1b930,
        0 0 30px #d1b930;
    scale: 0.9;
}

/* SEÇÃO POÇÕES */
.pocoes {
    padding: 4rem 0;
    background-color: #2c1d2d;
    color : white;
}

.itens{
    padding: 4rem 0;
    background-color: #2c1d2d;
    color : white;  
}

.section-title{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: white;
     font-family: 'Almendra', serif;
}

/* CONFIGURANDO CARDS */
.cards{
    display: flex;
    gap: 2rem;
    justify-content: center;
    /* QUEBRA DE LINHA */
    flex-wrap: wrap;
}

.card{
    background-color:#e0d1be;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    /*FLEX 0: elemento não se adapta*/
    /*FLEX 1: elemento se adapta*/
    flex: 1;
    min-width: 300px;
    max-width: 350px;
    transition: transform 0.3s;
}

.card-actions {
    display: flex;
    gap: 12px;
    margin-top: 15px;
    align-items: center;
}

.btn-buy {
    background-color: #28163c; 
    color: #a78e73;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    flex-grow: 1; 
    transition: background 0.2s ease;
}

.btn-buy:hover {
    background-color: #000000; 
}


.btn-cart {
    background-color: transparent;
    color: #28163c;
    border: 2px solid #000000;
    padding: 12px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px; 
    min-width: 50px;
    height: 48px;
    transition: all 0.2s ease;
}

.btn-cart:hover {
    background-color: #9900ff10; 
}

.card:hover{
    /*DESCOLA O CARD VERTICALMENTE*/
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.card img{
    width: 100%;
    height: 50%;
     /*Cobre a div*/
    object-fit: cover;
}

.card-content{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card-content h3{
    color:#2c1d2d;
    font-family: 'Almendra', serif;
    font-size: 1.5rem;
}

.card-content p{
    color:#28163c;
    flex: 1;
    font-size: 1rem;
}

.price{
    font-family: 'Almendra', serif;
  font-size: 1.5rem;
  color:#a86e2c;
  font-weight: bold;
}


/* SEÇÃO AVALIAÇÕES */

.avaliacoes {
    padding: 60px 0;
    background-color: #2c1d2d; 
    text-align: center;
   
}


.testemunhos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    margin-top: 40px;
}


.testemunho-card {
    background-color: #251e38;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid #3d315b; 
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Efeito de passar o mouse */
.testemunho-card:hover {
    transform: translateY(-5px);
}


.estrelas {
    color: #ffcc00;
    font-size: 0.9rem;
    margin-bottom: 15px;
}


.testemunho-card p {
    font-style: italic;
    color: #dfdbe5;
    line-height: 1.6;
    margin-bottom: 20px;
}


.usuario h4 {
    color: #9d4edd; 
    margin-bottom: 2px;
    font-size: 1.1rem;
}

.usuario span {
    font-size: 0.85rem;
    color: #a29da8;
}


/*SEÇÃO SOBRE*/
.sobre{
    padding: 4rem 0;
    background-color:#2c1d2d;
}

.sobre-flex{
    display: flex;
    gap: 3rem;
    align-items: center;
}

.sobre-imagem{
    flex: 1;
}

.sobre-imagem img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 1);
}

.sobre-texto{
    flex: 1;
    flex-direction: column;
    gap: 1rem;
}

.sobre-texto hr{
    height: 2px;
    border:none;
    margin: 15px 0;
    background-color: #ffffff;
}

.sobre-texto h2{
    font-family:"Almendra";
    font-size: 2.25rem;
    color:#ffffff;
}

.sobre-texto p{
    color: #ffffff9d;
    font-size: 1.1rem;
}

/* FOOTER */
.footer{
    background-color: #7d664c;
    color: white;
    padding: 3rem 0 1rem;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    align-items: center;
}

.footer-section{
    flex: 1;
    min-width: 200px;
    color: #b1a4ba;
}

.footer-section h4{
    margin-bottom: 1rem;
    color: #240a3f;
}

.footer-bottom{
    color: #240a3f;
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid #4a3226;
}

.footer-icons a{
    color:#240a3f;
}

.footer-icons a:hover{
    color: #e0d1be;
}

/* CONFIGURANDO A RESPONSIVIDADE */
/* MEDIA QUERY: É um recurso do CSS para ajustar elementos conforme a largura da tela */
/* O BREAKPOINT PARA UM CELULAR É APROXIMADAMENTE 768px */
@media (max-width: 768px) {
    .nav {
        font-size: 1.1rem;
        padding: 1rem 0;
    }

    .logo {
        font-size: 2rem; 
        margin-bottom: 1rem;
        text-align: center;
    }

    nav {
        flex-wrap: wrap;       
        justify-content: center;
        gap: 1.2rem;           
    }

    nav a {
        font-size: 1.1rem;
    }

    .hero {
        height: auto;          
        padding: 6rem 1rem;    
    }

    .hero-content h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .hero-content p {
        font-size: 1.4rem;     
        margin-bottom: 1.5rem;
    }

    .btn-primary {
        font-size: 1.2rem;
        padding: 0.8rem 1.6rem;
    }

    .sobre-flex {
        flex-direction: column-reverse; 
        gap: 2rem;
    }

    .sobre-texto {
        text-align: center; 
    }

    .sobre-texto h2 {
        font-size: 1.8rem;
    }

    .footer-content {
        flex-direction: column;
        align-items: center; 
        text-align: center;
    }

    .footer-section {
        min-width: 100%; 
    }
}

@media (max-width: 400px) {
    .logo {
        font-size: 1.6rem;
    }
    
    nav {
        gap: 0.8rem;
    }
    
    nav a {
        font-size: 1.1rem;
    }
}